<div class="font-[sans-serif] max-w-7xl mx-auto h-screen">
  <div class="grid md:grid-cols-2 items-center gap-8 h-full">
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="max-w-lg max-md:mx-auto w-full p-6">
      <div class="mb-12">
        <h3 class="text-[#1C408A] text-5xl font-italic">Sign in</h3>
      </div>
      
      <div>
        <label class="text-gray-800 text-[15px] mb-2 block">Email or Username</label>
        <input formControlName="username" type="text" class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-2.5 rounded-md border focus:bg-transparent focus:border-black outline-none transition-all" placeholder="Enter email or username" />
        <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="text-red-500 text-xs mt-1">
          <span *ngIf="loginForm.get('username')?.hasError('required')">Email or Username is required</span>
        </div>
      </div>

      <div class="mt-4">
        <label class="text-gray-800 text-[15px] mb-2 block">Password</label>
        <input formControlName="password" type="password" class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-2.5 rounded-md border focus:bg-transparent focus:border-black outline-none transition-all" placeholder="Enter password" />
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-red-500 text-xs mt-1">
          <span *ngIf="loginForm.get('password')?.hasError('required')">Password is required</span>
          <span *ngIf="loginForm.get('password')?.hasError('minlength')">Password must be at least 4 characters long</span>
        </div>
      </div>

      <div class="mt-8">
        <button type="submit" [disabled]="loginForm.invalid" class="w-full shadow-xl py-2.5 px-4 text-sm tracking-wide font-semibold rounded-md text-white bg-[#1C408A] hover:bg-blue-700 focus:outline-none">
          Log in
        </button>
      </div>

      <p class="text-sm mt-8 text-center text-gray-500">Don't have an account? <a href="/register" class="text-[#1C408A] font-semibold tracking-wide hover:underline ml-1">Register here</a></p>
    </form>

    <div class="h-full md:py-6 flex items-center relative max-md:before:hidden before:absolute before:bg-gradient-to-r before:from-sky-200 before:via-[#51b2d6] before:to-[#1C408A] before:h-full before:w-3/4 before:right-0 before:z-0">
      <img src="https://images.unsplash.com/photo-1565382778766-f1e68c4fbcc7?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="rounded-md lg:w-4/5 md:w-11/12 z-50 relative" alt="Dining Experience" />
    </div>
  </div>
</div>
