<div class="flex flex-col justify-center items-center font-[sans-serif] bg-gradient-to-r from-sky-200 to-[#1C408A] lg:h-screen p-6">
  <div class="grid md:grid-cols-2 items-center gap-y-8 bg-white max-w-7xl w-full shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] rounded-md overflow-hidden">

    <div *ngIf="showToast" 
      class="fixed top-4 left-1/2 transform -translate-x-1/2 text-white p-4 rounded-md shadow-md w-90 z-50"
      [ngClass]="{
        'bg-[#1C408A]': toastType === 'success',
        'bg-red-500': toastType === 'error'
      }">
      {{ toastMessage }}
    </div>

    <div class="max-md:order-1 flex flex-col justify-center sm:p-8 p-4 bg-[#1C408A] w-full h-full">
      <div class="max-w-md space-y-12 mx-auto">
        <div>
          <h4 class="text-white text-lg font-semibold">Create Your Account</h4>
          <p class="text-[13px] text-gray-200 mt-2">Welcome to our registration page! Get started by creating your account.</p>
        </div>
        <div>
          <h4 class="text-white text-lg font-semibold">Simple & Secure Registration</h4>
          <p class="text-[13px] text-gray-200 mt-2">Our registration process is designed to be straightforward and secure. We prioritize your privacy and data security.</p>
        </div>
      </div>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="sm:p-8 p-4 w-full">
      <div class="md:mb-12 mb-8">
        <h3 class="text-[#1C408A] text-3xl font-bold">Create an account</h3>
      </div>

      <div class="grid lg:grid-cols-2 gap-6">

        <div>
          <label class="text-gray-800 text-sm mb-2 block">Username</label>
          <input formControlName="username" type="text" class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-2.5 rounded-md border focus:bg-transparent focus:border-black outline-none transition-all" placeholder="Enter username" />
          <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched" class="text-red-500 text-xs mt-1">
            <span *ngIf="registerForm.get('username')?.hasError('required')">Username is required</span>
          </div>
        </div>

        <div>
          <label class="text-gray-800 text-sm mb-2 block">Email</label>
          <input formControlName="email" type="text" class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-2.5 rounded-md border focus:bg-transparent focus:border-black outline-none transition-all" placeholder="Enter email" />
          <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-red-500 text-xs mt-1">
            <span *ngIf="registerForm.get('email')?.hasError('required')">Email is required</span>
            <span *ngIf="registerForm.get('email')?.hasError('email')">Please enter a valid email</span>
          </div>
        </div>

        <div>
          <label class="text-gray-800 text-sm mb-2 block">Password</label>
          <input formControlName="password" type="password" class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-2.5 rounded-md border focus:bg-transparent focus:border-black outline-none transition-all" placeholder="Enter password" />
          <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-red-500 text-xs mt-1">
            <span *ngIf="registerForm.get('password')?.hasError('required')">Password is required</span>
            <span *ngIf="registerForm.get('password')?.hasError('minlength')">Password must be at least 4 characters long</span>
          </div>
        </div>

        <div>
          <label class="text-gray-800 text-sm mb-2 block">Confirm Password</label>
          <input formControlName="cpassword" type="password" class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-2.5 rounded-md border focus:bg-transparent focus:border-black outline-none transition-all" placeholder="Enter confirm password" />
          <div *ngIf="registerForm.get('cpassword')?.invalid && registerForm.get('cpassword')?.touched" class="text-red-500 text-xs mt-1">
            <span *ngIf="registerForm.get('cpassword')?.hasError('required')">Confirm Password is required</span>
            <span *ngIf="registerForm.hasError('mismatch')">Passwords must match</span>
          </div>
        </div>
      </div>

      <div class="mt-6">
        <button type="submit" [disabled]="registerForm.invalid" class="py-3 px-6 text-sm tracking-wide rounded-md text-white bg-[#1C408A] hover:bg-blue-700 focus:outline-none transition-all">
          Sign up
        </button>
      </div>
    </form>
  </div>
</div>
